<settings>
    <setting id="addonportal" value="true" />
    <setting id="adult" value="false" />
    <setting id="cbnotifycheck" value="true" />
    <setting id="codename" value="Venztech" />
    <setting id="communitybuilds" value="false" />
    <setting id="dummy" value="" />
    <setting id="email" value="" />
    <setting id="favourites" value="false" />
    <setting id="hardwareportal" value="false" />
    <setting id="internetcheck" value="true" />
    <setting id="keywordpath" value="http://urlshortbot.com/" />
    <setting id="latestnews" value="true" />
    <setting id="localcopy" value="false" />
    <setting id="maintenance" value="true" />
    <setting id="mastercopy" value="false" />
    <setting id="private" value="false" />
    <setting id="sources" value="false" />
    <setting id="trcheck" value="false" />
    <setting id="tutorialportal" value="true" />
    <setting id="versionoverride" value="false" />
    <setting id="zip" value="/storage/backup/" />
</settings>
